apiVersion: config.openshift.io/v1
kind: ClusterVersion
metadata:
  name: version
spec:
  channel: stable-{{clusterVersion}}
  desiredUpdate:
    version: {{clusterVersion}}
  clusterID: {{clusterID}}